@{
    ViewData["Title"] = "Definir Opção";  
}
  
<div id="outer" class="row">
    <aside class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Escolha uma opção:</h4>
                <form> 
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" asp-controller="Register" asp-action="Index"> Registar ponto </button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" asp-controller="Report" asp-action="Index"> Relatório </button>
                    </div>
                </form>
            </article>
        </div>  

    </aside>

</div>